{% extends "base.html" %}
{% block title %} Index Page {% endblock %}
{% include "navbar.html" %}

{% block content %}
<div class="app relative">
    <div class="h-center confirm-box bg-white br-round5 p-all10 width400px m-top20">
        <div class="text-box">
            <h2 class="flightblack">Do you want to delete?</h2>
            <p class="m-top5 flightblack">Once you delete you will not get it back.</p>
        </div>
        <div class="botton-box m-top10">
        <form action="/delete/{{id}}" method = "POST">
            <input class="width100px m-top10 btn bg-red fwhite" type="submit" value="Delete">
        </form>
        </div>
    </div>
</div>
{% endblock %}